<div class="disclaimer">
  {% if site.data.theme.show_disclaimer %}
  <p>
    Todos los artículos en este sitio son de mi autoría, salvo que se especifique lo contrario.
  </p>
  {% endif %}

  <iframe width="540" height="305" src="https://a4e24421.sibforms.com/serve/MUIFAIz5TvghOYCMg0wFRluBBit1PfIoRHvWjjWb4ugCmlr0gpAf2dSc1vUtJnH9c-ZeZi4VzNtbX0aofJIegxJXy0rUzFMsDsutk88Kkzl1r3hYo_uO9VPc86ng_yKVxLmbJHOM3aUpuxOtyZmm6HJhk8Ec8pPKvxuA6WZUYlx2y48xtNNCsrtIczMI6cFiXaT-Hx3_voHwll_a" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>

  <p>
    © {{ site.data.theme.name }}, {{ 'now' | date: "%Y" }} &mdash; Usando el tema de <a href="https://x.com/_swanson">Matt Swanson</a>: <a href="https://github.com/swanson/lagom">Lagom</a>
  </p>
</div>