<div class="disclaimer">
  {% if site.data.theme.show_disclaimer %}
  <p>
    Todos los artículos en este sitio son de mi autoría, salvo que se especifique lo contrario.
  </p>
  {% endif %}

  <p>
    © {{ site.data.theme.name }}, {{ 'now' | date: "%Y" }} &mdash; Usando el tema de <a href="https://x.com/_swanson">Matt Swanson</a>: <a href="https://github.com/swanson/lagom">Lagom</a>
  </p>

  <!-- Indicaciones para añadir como app -->
  <div class="app-install">
    <p>
      Agrega este sitio a tu pantalla de inicio para una mejor experiencia:
      <button id="installButton">Añadir a la pantalla de inicio</button>
    </p>
  </div>
</div>

<!-- Agregar script para mostrar mensaje de instalación -->
<script>
  // Verificar si el navegador soporta la funcionalidad de instalar como app
  let deferredPrompt;
  const installButton = document.getElementById('installButton');

  window.addEventListener('beforeinstallprompt', (e) => {
    // Previene que se muestre el banner por defecto
    e.preventDefault();
    // Guarda el evento para que podamos mostrarlo más tarde
    deferredPrompt = e;
    // Muestra el botón de instalación
    installButton.style.display = 'block';
  });

  installButton.addEventListener('click', () => {
    // Muestra el prompt de instalación
    if (deferredPrompt) {
      deferredPrompt.prompt();
      deferredPrompt.userChoice.then((result) => {
        if (result.outcome === 'accepted') {
          console.log('Usuario aceptó la instalación');
        } else {
          console.log('Usuario rechazó la instalación');
        }
        deferredPrompt = null;
      });
    }
  });

  window.addEventListener('appinstalled', (evt) => {
    console.log('Aplicación instalada', evt);
  });
</script>
