<div class="disclaimer">
  {% if site.data.theme.show_disclaimer %}
  <p>
    Todos los artículos en este sitio son de mi autoría, salvo que se especifique lo contrario.
  </p>
  {% endif %}

  <div id="iframe-container" style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 100%; margin: 20px auto;">
      <iframe width="50%" height="305" src="https://a4e24421.sibforms.com/serve/MUIFAJDLvbafrH3yLzIiKZdyvTBG2JiovH04QwNO1baWFHKrydGGP85miW85RFpErbIIsCHkT0o-kkLun6kX-zU_qbT9xYAdLMDyL-MLS0PIxFQzl5LNXmAw7aI5wvM1Fnsxf_K7kZy9xLMuTvq7jbyx-5saDn_htLHKiLCH0DotfNcy3Jgvm-rPmiu9Wo1aUchQ6cetR32MLt2I" frameborder="0" scrolling="auto" allowfullscreen style="border-radius: 10px; display: block; max-width: 100%;"></iframe>
    </div>

  <p>
    © {{ site.data.theme.name }}, {{ 'now' | date: "%Y" }} &mdash; Usando el tema de <a href="https://x.com/_swanson">Matt Swanson</a>: <a href="https://github.com/swanson/lagom">Lagom</a>
  </p>
</div>