<nav>
  <h1>Bienvenido.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo" style="width: 100px; height: auto;"/>
  </a>
  <h2>Soy <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Este es mi blog.</p>
    <p>
      <code>Aquí encontrarás actualizaciones de mis proyectos.</code>
    </p>
    <iframe width="540" height="305" src="https://a4e24421.sibforms.com/serve/MUIFAJDLvbafrH3yLzIiKZdyvTBG2JiovH04QwNO1baWFHKrydGGP85miW85RFpErbIIsCHkT0o-kkLun6kX-zU_qbT9xYAdLMDyL-MLS0PIxFQzl5LNXmAw7aI5wvM1Fnsxf_K7kZy9xLMuTvq7jbyx-5saDn_htLHKiLCH0DotfNcy3Jgvm-rPmiu9Wo1aUchQ6cetR32MLt2I" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>