<nav>
  <h1>Bienvenido.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo" style="width: 100px; height: auto;"/>
  </a>
  <h2>Soy <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Este es mi blog.</p>
    <p>
      <code>Aquí encontrarás actualizaciones de mis proyectos.</code>
    </p>
    <iframe width="540" height="305" src="https://a4e24421.sibforms.com/serve/MUIFAMFWhQLCmkL78Yxkyu9WDcNJYXdWuzhQ4y2n4oYDT3kNmHs8NR_hzB2VBL9jZXTtOoZJ2XwPutbkis3VVECRQb49g9g7JNY3pwo-XT1-XOt22kz4jDjsuxbuIiV0EjZbCmrlBZuAKL8x4x_7yvwfWlVvuHo08wI59FA7ZxwqoeqKLf3c6hNXbuXgQUAr6vcpI01mTXq2ia9B" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>